<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Céréales</title>
    <link rel="icon" href="assets/images/cereales.png" />
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="assets/js/main.js" type="module"></script>

</head>

<body>

    <div id="app">


        <header>



            <h1> Cereals</h1>


            <fieldset id="search">
                <legend>Search</legend>
                <input type="text" placeholder="Cereal name" v-model="searchValue" @input="searchCer">
            </fieldset>

            <fieldset id="filter">
                <legend>Filter</legend>


                <fieldset>
                    <legend>Nutriscore</legend>
                    <div v-for=" item of typesOfNS ">
                        <label for="item">{{ item }} </label>
                        <input type="checkbox" :id="item" :value="item" v-model="inputNS" @change="sortNS">
                    </div>
                </fieldset>

                <fieldset>
                    <legend>Category</legend>

                    <select name="byCategory" id="byCategory" v-model="category" @change="sortCategorie">
                        <option value="0">All</option>
                        <option value="1">Sugar free
                        </option>
                        <option value="2">Low in salt
                        </option>
                        <option value="3">Booost</option>
                    </select>
                </fieldset>


            </fieldset>

        </header>

        <main>
            <button type="button" @click="resteTable">Reset</button>
            <table>

                <thead>
                    <tr>
                        <th v-for=" item in headTable " role="button" :id="item" @click="columnSort" :value="item">
                            {{ item }}
                        </th>

                    </tr>


                </thead>

                <tbody>
                    <tr v-for=" item of baseCerealsCopy ">
                        <td> {{ item.id }} </td>
                        <td> {{ item.name }} </td>
                        <td> {{ item.calories }} </td>
                        <td> {{ item.protein }} </td>
                        <td> {{ item.sodium }} </td>
                        <td> {{ item.fiber }} </td>
                        <td> {{ item.carbo }} </td>
                        <td> {{ item.sugars }} </td>
                        <td> {{ item.potass }} </td>
                        <td> {{ item.vitamins }} </td>
                        <td> {{ item.rating }} </td>
                        <td :style="item.hexa"> {{ item.nutriscore }} </td>
                        <td role="button" :value="item.id" :id="item.id" @click="delRow" style="  cursor: pointer;"> X
                        </td>
                    </tr>

                </tbody>
                <tfoot>
                    <td> {{ entries }} elements </td>
                    <td> colories average : {{ calAvg }} </td>

                </tfoot>

            </table>

        </main>

    </div>

</body>

</html>