* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #4b7279;
    height: 100vh;
    width: 100vw;
    color: #2f2f2f;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    max-width: 82vw;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
}

header,
nav,
ul {
    background-color: #99b2b5;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70vw;
    height: 5vh;
}

ul li {
    list-style-type: none;
    width: 10vw;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3vh;
}

ul li a {
    font-size: 1.3em;
    font-weight: 900;
    color: #4b7279;
    text-decoration: none;
}

#titre {
    background-image: url(../img/fond8.jpg);
    min-width: 82vw;
    min-height: 20vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#titre h1 {
    color: #ffffff;
    font-size: 5rem;
    text-shadow: 3px 3px #4b7279;
}

form {
    height: 10vh;
    margin: 2vh 10vw;
    display: flex;
    flex-direction: row;
}

fieldset {
    margin: 0 2vw;
    padding: 1%;
    border: 2px solid #4b7279;
    background-color: #9ec8cf;
}

#choixDpt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-width: 15vw;
}

#choixEts {
    min-width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    align-items: center;
}

#choixEts div {
    min-width: 26vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}


#choixEts input {
    display: block;
}

#choixEts div {
    width: 22vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
}

#valider {
    font-size: 1.1em;
    font-weight: 900;
    padding: 1%;
    border: 2px solid #4b7279;
    background-color: #9ec8cf;
    min-width: 5vw;
    color: #4b7279;
}


#printBtn {
    font-size: 1.1em;
    font-weight: 900;
    padding: 1%;
    border: 2px solid #4b7279;
    background-color: #9ec8cf;
    min-width: 10vw;
    color: #4b7279;
}



footer {
    position: absolute;
    background-attachment: fixed;
    bottom: 0;
    width: 82vw;
    height: 5vh;
    border-top: 2px solid #4b7279;
    background-color: #9ec8cf;
    color: #ffffff;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    width: 80vw;
    font-size: small;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 5vh;
    background-color: #4b7279;

}


th {
    padding: 1vh;
    font-size: large;
    font-weight: 500;
    background-color: #4b7279;

    color: #ffffff;
}


td {
    padding-left: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
}


tr:nth-child(odd) {
    background-color: #ffffff;
}

tr:nth-child(even) {
    background-color: #9ec8cf;
}

h2 {
    color: #4b7279;
    text-align: center;
}

@media print {
    @page {
        size: landscape;
    }

    header,
    footer,
    form,
    #printBtn {
        display: none;
    }




}