* {
    margin: 0;
    padding: 0;

}


@media only screen and (min-width: 1080px) {

    body {
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        height: 100vh;
        width: 100vw;
    }

    header {
        height: 20vh;
        width: 100vw;
        background-color: #2b82bf;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h1 {
        font-size: 5em;
    }

    main {
        height: 70vh;
        width: 100vw;
        display: flex;
        background-color: aqua;
        flex-direction: row;
    }

    nav {
        height: 70vh;
        width: 20vw;

        background-color: #79a551;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    ul {
        display: flex;
        flex-direction: column;
    }

    li {
        margin: 2em;
        background-color: #ffffff;
        border: #ffffff solid 5px;
        list-style-type: none;

    }


    a {
        font-size: 1.5em;
        color: #79a551;
        text-decoration: unset;
    }

    section {
        height: 70vh;
        width: 60vw;
        background-color: aliceblue;
        display: flex;
        flex-wrap: wrap;

    }

    h2 {
        font-size: 1hv;
        color: black;
        width: 60vw;
        padding: 2%;
    }


    article {
        height: 9vh;
        width: 19dvw;
        border: 1px solid #79a551;
        margin-left: 5vw;
        margin-right: 4.5vw;
        padding: 10px;
    }

    article p {
        color: #4d4d4d;
        text-align: justify;
    }

    aside {
        height: 70vh;
        width: 20vw;
        background-color: #eaba51;
    }

    aside p {
        padding: 10%;
        font-size: 2em;
    }


    footer {
        height: 10vh;
        width: 100vw;
        background-color: #2b82bf;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer p {
        font-size: 2em;
    }

}


@media only screen and (max-width: 1080px) {

    body {
        display: flex;
        flex-direction: column;
        background-color: #ffffff !important;
        height: 100vh;
        width: 100vw;
    }

    header {
        height: 15vh;
        width: 100vw;
        background-color: #2b82bf;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    h1 {
        font-size: 3em;
    }

    main {
        width: 100vw;
        display: flex;
        background-color: aqua;
        flex-direction: column;
    }

    nav {
        height: 5vh;
        width: 100vw;
        background-color: #79a551;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    ul {
        display: flex;
        flex-direction: row;
    }

    li {
        height: 3vh;
        background-color: #ffffff !important;
        border: #ffffff solid 2px !important;
        list-style-type: none;
        margin-left: 1vw;
        margin-right: 1vw;
    }

    a {
        font-size: 1em;
        color: #79a551;
        text-decoration: none;
    }

    section {
        width: 1000vw;
        background-color: #ffffff !important;
    }

    h2 {
        font-size: 1hv;
        color: black !important;
        width: 100vw;
        height: 3hv;
        padding: 1%;
    }

    article {
        height: 15vh;
        width: 80vw;
        border: 1px solid #79a551;
        margin-top: 5hv;
        margin-bottom: 5vh;
        margin-left: 7vw;
        padding: 10px;

    }

    article p {
        color: #4d4d4d !important;
        text-align: justify;
    }

    aside {
        height: 10vh;
        width: 100vw;
        background-color: #eaba51;
    }

    aside p {
        padding: 10%;
        font-size: 2em;
    }


    footer {
        height: 10vh;
        width: 100vw;
        background-color: #2b82bf;
        display: flex;
        justify-content: center;
        align-items: center;

        background-position: bottom;
    }

    footer p {
        font-size: 2em;
    }

}